@import url(global.css);

@font-face {
    font-family: roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
}

#sans-serif {
    font-family: sans-serif;
}

#cursive {
    font-family: cursive;
}

#monospace {
    font-family: monospace;
}

#fantasy {
    font-family: fantasy;
}

#roboto {
    font-family: roboto;
}
